dash
dash_bootstrap_components
flask
pandas
seaborn
matplotlib
gunicorn
ipywidgets
statsmodels
scikit-learn
numpy
plotly
flask
datetime
python-dotenv
cx_Oracle
openai
requests
geopy
SQLAlchemy
mysql
transformers
tensorflow
torch
