dash
dash_bootstrap_components
flask
pandas
seaborn
matplotlib
gunicorn
ipywidgets
statsmodels
scikit-learn
plotly
flask
datetime
python-dotenv
cx_Oracle
openai
requests
geopy
SQLAlchemy
mysql
pyodbc
tensorflow-lite
numpy
transformers
